[Desktop Entry]
Type=Action
Name=Display resolution and layout
Name[de]=Bildschirmauflösung und Anordnung
Name[es]=Resolución de pantalla y disposición
Name[fr]=Résolution de l’écran et disposition
Name[it]=Risoluzione dello schermo e disposizione
Name[pt]=Resolução do ecrã e disposição
Name[pt_BR]=Resolução da tela e layout
Profiles=profile-zero;
Icon=preferences-desktop-display

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
# arandr is a well-known, powerful graphical resolution and screen-layout modification program
# lxrandr is more suitable to LXDE/Lubuntu environments, and is much more user-friendly to simple
# operations. However lxrandr has been buggy in VirtualBox testing, so only providing arandr for users.
Exec=/usr/bin/arandr
Name=Default profile
Name[de]=Standardprofil
Name[es]=Perfil predeterminado
Name[fr]=Profil par défaut
Name[it]=Profilo predefinito
Name[pt]=Perfil predefinido
Name[pt_BR]=Perfil padrão
