[Desktop Entry]
Categories=;
Comment=Create a startup disk using a CD or disc image
Comment[en_US]=Create a startup disk using a CD or disc image
Comment[de]=Erstellen Sie eine Startdiskette mithilfe einer CD oder eines Datenträgerabbilds
Comment[es]=Cree un disco de arranque utilizando un CD o una imagen de disco
Comment[fr]=Créez un disque de démarrage à l'aide d'un CD ou d'une image disque
Comment[it]=Crea un disco di avvio utilizzando un CD o un'immagine disco
Comment[pt]=Crie um disco de arranque utilizando um CD ou uma imagem de disco
Comment[pt_BR]=Crie um disco de inicialização usando um CD ou uma imagem de disco
Exec=usb-creator-gtk-pkexec
GenericName=Startup Disk Creator
GenericName[en_US]=Startup Disk Creator
GenericName[de]=Startdisketten-Ersteller
GenericName[es]=Creador de discos de arranque
GenericName[fr]=Créateur de disque de démarrage
GenericName[it]=Creatore del disco di avvio
GenericName[pt]=Criador de Disco de Arranque
GenericName[pt_BR]=Criador de Disco de Inicialização
Hidden=false
Icon=usb-creator-gtk
Name=Create Bootable USB
Name[en_US]=Create Bootable USB
Name[de]=Bootfähigen USB-Stick erstellen
Name[es]=Crear una unidad USB de arranque
Name[fr]=Créer une clé USB bootable
Name[it]=Crea una chiavetta USB avviabile
Name[pt]=Criar USB inicializável
Name[pt_BR]=Criar USB inicializável
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=usbcreator
