[Desktop Entry]
Categories=;
Comment=Browse the file system and manage the files
Comment[de]=Das Dateisystem durchsuchen und Dateien verwalten
Comment[es]=Explora el sistema de archivos y gestiona los archivos
Comment[fr]=Parcourez le système de fichiers et gérez les fichiers
Comment[it]=Esplora il file system e gestisci i file
Comment[pt]=Navegue pelo sistema de ficheiros e faça a gestão dos ficheiros
Comment[pt_BR]=Navegue pelo sistema de arquivos e gerencie os arquivos
Exec=pcmanfm %U
GenericName=File Manager
GenericName[de]=Dateimanager
GenericName[es]=Administrador de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[it]=Gestore file
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
Hidden=true
Icon=system-file-manager
MimeType=x-directory/normal;inode/directory;
Name=File Manager
Name[de]=Dateimanager
Name[es]=Administrador de archivos
Name[fr]=Gestionnaire de fichiers
Name[it]=Gestore file
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
StartupNotify=true
Terminal=false
Type=Application
