[Desktop Entry]
Categories=Graphics;Utility;Core;GTK;Viewer;RasterGraphics;2DGraphics;Photography;
Comment=View your images easily
Comment[fr]=Visionner des images facilement
Encoding=UTF-8
Exec=gpicview %f
GenericName=Image Viewer
GenericName[fr]=Visionneur d'images
Hidden=true
Icon=gpicview
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-tga;image/x-portable-pixmap;image/x-portable-bitmap;image/x-targa;image/x-portable-greymap;application/pcx;image/svg+xml;image/svg-xml;
Name=Image Viewer
StartupNotify=true
Terminal=false
Type=Application
