[Desktop Entry]
Categories=;
Comment=Provides information on hardware
Comment[de]=Liefert Informationen zur Hardware
Comment[es]=Proporciona información sobre el hardware
Comment[fr]=Fourni des informations sur le matériel
Comment[it]=Fornisce informazioni sull'hardware
Comment[pt]=Fornece informações sobre o hardware
Comment[pt_BR]=Fornece informações sobre hardware
Exec=lshw-gtk-pkexec
Hidden=false
Icon=lshw-gtk
Icon[en_US]=/usr/share/icons/gnome-colors-common/scalable/apps/hardinfo.svg
Name=Hardware Lister
Name[de]=Hardware-Lister
Name[es]=Listador de hardware
Name[fr]=Informations matériel
Name[it]=Elenco hardware
Name[fr]=Informations matériel
Name[pt]=Lista de hardware
Name[pt_BR]=Lista de hardware
Terminal=false
Type=Application
