[Desktop Entry]
Name[de]=Festplattenbelegung analysieren
Name[en_GB]=Disk Usage Analyser
Name[es]=Analizador de uso de disco
Name[fr]=Analyseur d’utilisation des disques
Name[it]=Analizzatore di utilizzo del disco
Name[pt]=Analisador de utilização do disco
Name[pt_BR]=Analisador de uso de disco
Name=Disk Usage Analyzer
Comment[de]=Ordnergrößen und freien Festplattenplatz analysieren
Comment[en_GB]=Check folder sizes and available disk space
Comment[es]=Compruebe el tamaño de las carpetas y el espacio disponible en disco
Comment[fr]=Vérifier la taille des dossiers et l’espace disque disponible
Comment[it]=Controlla la dimensione delle cartelle e lo spazio disco disponibile
Comment[pt]=Verificar o tamanho das pastas e o espaço disponível em disco
Comment[pt_BR]=Verifique o tamanho de pastas e o espaço disponível em disco
Comment=Check folder sizes and available disk space
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Speicherplatz;Belegung;Kapazität;Frei;Aufräumen;
Keywords[en_GB]=storage;space;cleanup;
Keywords[es]=almacenamiento;espacio;limpieza;
Keywords[fr]=stockage;espace disque;nettoyage;
Keywords[it]=archiviazione;spazio;pulizia;
Keywords[pt]=armazenamento;espaço;limpar;
Keywords[pt_BR]=armazenamento;espaço;limpeza;
Keywords=storage;space;cleanup;
TryExec=baobab
Exec=baobab-pkexec
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[de]=baobab
Icon[en_GB]=baobab
Icon[es]=baobab
Icon[fr]=baobab
Icon[it]=baobab
Icon[pt]=baobab
Icon[pt_BR]=baobab
Icon=baobab
Terminal=false
Type=Application
StartupNotify=true
MimeType=inode/directory;
Categories=GTK;GNOME;System;Filesystem;X-GNOME-Utilities;
NotShowIn=KDE;
DBusActivatable=true
