[Desktop Entry]
Type=Application
Icon=user-desktop
Name=Desktop Preferences
Name[de]=Desktop Einstellungen
Name[en_GB]=Desktop Preferences
Name[es]=Preferencias del escritorio
Name[fr]=Préférences du bureau
Name[it]=Preferenze della scrivania
Name[pt]=Preferências da área de trabalho
Name[pt_BR]=Preferências da Área de Trabalho
Comment=Change desktop wallpapers and behavior of desktop manager
Comment[de]=Hintergrundbilder und Verhalten der Desktopverwaltung ändern
Comment[en_GB]=Change desktop wallpapers and behaviour of desktop manager
Comment[es]=Cambiar el fondo y el comportamiento del escritorio
Comment[fr]=Modifier les fonds d’écran et le comportement du gestionnaire de bureau
Comment[it]=Cambia lo sfondo della scrivania e il comportamento del desktop manager
Comment[pt]=Mudar papel de parede e comportamento do gestor de áreas de trabalho
Comment[pt_BR]=Altere os papéis de parede e o comportamento do gerenciador da área de trabalho
Categories=Settings;GTK;DesktopSettings;X-LXDE-Settings;
Exec=pcmanfm --desktop-pref
StartupNotify=true
Terminal=false
NotShowIn=GNOME;XFCE;KDE;MATE;
NoDisplay=true
