[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Name[de]=Xfce-Terminal
Name[en_AU]=Xfce Terminal
Name[en_GB]=Xfce Terminal
Name[es]=Terminal de Xfce
Name[fr]=Terminal Xfce
Name[it]=Terminale di Xfce
Name[pt]=Terminal Xfce
Name[pt_BR]=Xfce Terminal
Comment=Terminal Emulator
Comment[de]=Terminal-Programm
Comment[en_AU]=Terminal Emulator
Comment[en_GB]=Terminal Emulator
Comment[es]=Emulador de terminal
Comment[fr]=Émulateur de terminal
Comment[it]=Emulatore di Terminale
Comment[pt]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
GenericName=Terminal Emulator
GenericName[de]=Terminal-Programm
GenericName[en_AU]=Terminal Emulator
GenericName[en_GB]=Terminal Emulator
GenericName[es]=Emulador de terminal
GenericName[fr]=Émulateur de terminal
GenericName[it]=Emulatore di Terminale
GenericName[pt]=Emulador de terminal
GenericName[pt_BR]=Emulador de terminal
TryExec=xfce4-terminal
Exec=xfce4-terminal-pkexec
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;

[Desktop Action preferences]
Name=Terminal Preferences
Name[de]=Einstellungen
Name[en_AU]=Terminal Preferences
Name[en_GB]=Terminal Preferences
Name[es]=Preferencias de la terminal
Name[fr]=Préférences
Name[it]=Preferenze di Terminale
Name[pt]=Preferências do Terminal
Name[pt_BR]=Preferências do terminal
